beautifulsoup4==4.6.0
boto3==1.7.71
botocore==1.10.71
certifi==2018.4.16
chardet==3.0.4
cssselect==1.0.3
docutils==0.14
feedfinder2==0.0.4
feedparser==5.2.1
idna==2.7
jieba3k==0.35.1
jmespath==0.9.3
lxml==4.2.3
newspaper3k==0.2.6
nltk==3.3
Pillow==5.2.0
python-dateutil==2.7.3
PyYAML==5.4
requests==2.19.1
requests-file==1.4.3
s3transfer==0.1.13
six==1.11.0
tldextract==2.2.0
urllib3==1.23
